<div class="wrapper">
  <div class="container white-container">
      <div class="form-header">
        <h1 class="text-center">New Cocktail</h1>
      </div>
      <div class="form-content">
        <%= simple_form_for(@cocktail) do |f| %>
          <%= f.input :name %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.submit class: "pink-btn"%>
        <% end %>
      </div>
  </div>
</div>
